body{
  background-color: black;
}
button{
  height: 80px;
  width: 80px;
  outline: none;
  background: rgba(254,254,254,0.3);
  border: 2px solid transparent;
  font-size: 20px;
  border-radius: 0px;
  color: white;
  backdrop-filter: blur(3px);
}
input{
color: white;
position: relative;
left: 3px;
border-radius: 0px;
border: 1px solid transparent;
text-align: left;
  top: 0px;
  left: px;
  height: 40px;
  width: 330px;
  font-size: 20px;
  outline: none;
  background: rgba(255,255,255,0.3);
 backdrop-filter: blur(3px) brightness(104%);
}
button:hover{
  background: rgba(255,255,255,0.5);
}
.numholder{
  border: 1px solid transparent;
  width: 336px;
  border-radius: 0px;
}
#red{
background-color: red;
}
#green{
background-color: lightgreen;
}
#red:hover{
background-color: orange;
}
#green:hover{
background-color: green;
}
#circle{
position: absolute;
top: 30px;
left: -10px;
z-index: -2;
height: 160px;
width: 160px;
background: linear-gradient(aqua,blue, aqua);
border-radius: 50%;
}
